<div class="center-container">
  <!-- Loading Overlay -->
  <div *ngIf="loading" class="loading-overlay">
    <div class="spinner"></div>
  </div>

  <!-- Form Section -->
  <form class="p-grid p-align-center p-justify-between form-container">
    <!-- Text Input -->
    <div class="p-col-12 p-md-4">
      <label for="sample" class="p-text-bold">Sample Name</label>
      <input
        id="sample"
        type="text"
        [(ngModel)]="sample"
        (keydown.enter)="onInputChange(sample)"
        placeholder="Enter text"
        name="sample"
        class="p-inputtext p-component"
      />
    </div>

    <!-- Dropdown for Units -->
    <div class="p-col-12 p-md-4">
      <label for="selectedUnit" class="p-text-bold">
        <div>
          {{ selectedUnit ? 'Selected Unit' : 'Select Unit' }}
        </div>
      </label>
      <select
        id="selectedUnit"
        [(ngModel)]="selectedUnit"
        (ngModelChange)="onUnitChange($event)"
        name="selectedUnit"
        class="p-dropdown p-component"
      >
        <option value="">Select unit</option>
        <option *ngFor="let unit of units" [value]="unit">{{ unit }}</option>
      </select>
    </div>

    <!-- Number Input -->
    <div class="p-col-12 p-md-4">
      <label for="value" class="p-text-bold">Value</label>
      <input
        id="value"
        type="number"
        [(ngModel)]="sampleInputValue"
        (keydown.enter)="onValueChange(sampleInputValue)"
        placeholder="Enter number"
        name="value"
        class="p-inputtext p-component"
      />
    </div>
  </form>

  <!-- Converted Value Section -->
  <div class="p-grid p-align-center p-justify-center converted-value-container">
    <div class="p-col-12 p-md-6">
      <h3 class="p-text-center">Converted Value</h3>
      <div class="converted-value">
        <span class="p-text-bold">Standard Unit:</span> {{ standardUnit }}
      </div>
      <div class="converted-value">
        <span class="p-text-bold">Converted Value:</span> {{ convertedValue }}
      </div>
    </div>
  </div>
</div>
